body {
	font-family: 'Indie Flower', cursive;
}

.gifs {
	width: 250px;
	height: 125px;
	border: 1px solid #000;
	box-shadow: 2.5px 7.5px 7.5px #888888;
}

#submit {
	background-color: #e6e1ef;
	border-radius: 10%;
	margin-top: 8%;
} 

#inputbuttons {
	margin-top: 5%;
}

#gifresults {
	margin-top: 3%;
	height: 82.5vh;
	overflow: scroll;
}

#userinput {
	width: 60%;
}

.topicbutton {
	margin-bottom: 5%;
}

.topicHeader {
	font-size: 27.5px;
	margin-top: 8%;
}

button {
	background-color: #fff;
	height: 50px;
	width: 100%;
}

h1 {
	font-size: 50px;
	color: #000;
}

#interact {
	margin-top: 1%;
	margin-bottom: 5%;
}

.para {
	width: 350px;
	height: 200px;
	position: relative;
	float: left;
	margin: 10px 10px 10px 10px;
}

.item {
	width: 350px;
	height: 200px;
	position: relative;
	float: left;
	margin: 10px 10px 10px 10px;
}

#titleContainer {
	height: 10vh;
	margin-bottom: 1.5%;
}

#buttonContainer {
	height: 100vh;
	position: absolute;
	top: 0;
	background-color: #fff;
	box-shadow: 2.5px 7.5px 7.5px #888888;
}

#dividerLine {
	height: 2px;
	width: 100%;
	background-color: #000;
	margin-top: 8%;
	margin-bottom: 8%;
}

#inputbuttons {
	height: 70vh;
	overflow: scroll;
}

